.chatroom-chat-container {
    max-width: 800px;
    height: 90vh;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.chat-header-box {
    padding: 24px 32px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: greenyellow;
}

.chat-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.chat-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.member-count {
    font-size: 10px;
    color: #333333;
}

.category-box {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.category-box li {
    display: inline-block;
}

.category-pill {
    padding: 6px 14px;
    border: 1px solid lightseagreen;
    border-radius: 999px;
    background: white;
    font-weight: 700;
    display: inline-block;
}

.chat-log-box {
    margin-top: 20px;
    padding: 12px;
    flex: 1;
}

.chat-input-box {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

#messageInput {
    padding: 10px 12px;
    border: solid 1px olivedrab;
    border-radius: 6px;
    flex: 1;
    font-size: 14px;
    outline: none;
}

#messageInput:focus {
    border-color: darkgreen;
}

.submit-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background: lightskyblue;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.submit-btn:hover {
    background: cornflowerblue;
}