<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE"></title>

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">

    <th:block layout:fragment="head"></th:block>
</head>

<body>
    <header class="login-header">
        <h1>
            <a th:href="@{/}">Two-Gether</a>
        </h1>
    </header>

    <main class="login-layout">
        <th:block layout:fragment="content"/>
    </main>
</body>
</html>
