<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
    <th:block layout:fragment="script"></th:block>
</head>

<body>
<main class="login-layout">
    <th:block layout:fragment="content"/>
</main>
</body>
</html>
