<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Detail</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/layout-default.css}">
    <link rel="stylesheet" th:href="@{/css/board/detail.css}">
</head>
<body>
    <article class="detail-container">
        <!-- 헤더 -->
        <header class="detail-header">
            <div class="title-box">
                <h1 class="title" th:text="${boardDetail.title}">제목</h1>
            </div>
            <div class="summary">
                <div class="left-info">
                    <span>닉네임</span>
                    <span th:text="${#temporals.format(boardDetail.createdAt, 'yyyy-MM-dd HH:mm')}">생성일</span>
                </div>
                <div class="right-info">
                    <ul>
                        <li><a th:href="@{/board/{id}/edit(id=${boardDetail.id})}">수정하기</a></li>
                        <li>
                            <form th:action="@{/board/{id}/delete(id=${boardDetail.id})}" method="post">
                                <button type="submit">삭제하기</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- 내용 -->
        <div>
            <p th:text="${boardDetail.contents}">본문 내용</p>
        </div>
    </article>
</body>
</html>