<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/css/board/register.css}">
</head>
<body>
    <main id="board-register-container">
        <form th:action="@{/board}" id="registFrm" method="post">
            <!-- 제목 -->
            <div class="title-container">
                <input name="title" type="text" id="title" placeholder="제목을 입력하세요"/>
            </div>
            <!-- 내용 -->
            <div class="contents-container">
                <textarea name="contents" class="contents" placeholder="내용을 작성하세요."></textarea>
            </div>
            <!-- 버튼 -->
            <div class="button-container">
                <button type="submit" class="button">등록</button>
            </div>
        </form>
    </main>
</body>
</html>