<!DOCTYPE html>
<html lang="en"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{layout/default}">
<title>Board Update</title>
<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/board/update.css}">
</th:block>

<th:block layout:fragment="content">
    <div class="board-update-container">
        <form th:action="@{|/board/${boardUpdate.id}/edit|}" method="post">
            <!-- 제목 -->
            <div class="title-container">
                <input name="title" type="text" th:value="${boardUpdate.title}" id="title" placeholder="제목을 입력하세요"/>
            </div>
            <!-- 내용 -->
            <div class="contents-container">
                <textarea name="contents" th:text="${boardUpdate.contents}" class="contents" placeholder="내용을 작성하세요."></textarea>
            </div>
            <!-- 버튼 -->
            <div class="button-container">
                <button type="submit" class="button">수정하기</button>
            </div>
        </form>
    </div>
</th:block>
</html>