.expense-list-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 16px;
    font-size: 14px;
    color: #222;
}

.month-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

.month-box h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.total-amount {
    font-size: 16px;
    font-weight: 700;
    color: steelblue;
}

.expense-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    align-items: center;

    padding: 12px 8px;
    background: #f3f4f6;
    font-weight: 700;
    border-top: 2px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;

    list-style: none;
    margin: 0;
    width: 100%;
}

.expense-header > li {
    text-align: center;
}

.expense-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.expense-list > li {
    margin: 0;
    border-bottom: 1px solid #e5e7eb;
}

.expense-list > li > a {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    padding: 18px 8px;

    text-decoration: none;
    color: inherit;
}

.expense-list > li > a > span{
    text-align: center;
    justify-self: center;
}

/* hover 효과 */
.expense-list li:hover {
    background-color: palevioletred;
}

/* 내용 말줄임 처리 (지출내용) */
.expense-list span:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 헤더 스크롤 고정 (선택) */
.expense-header {
    position: sticky;
    top: 0;
    z-index: 10;
}