@import "reset.css";

/* 헤더 */
.header {
    height: 64px;
    border-bottom: 1px solid #d1d1d1;
    background-color: white;
    display: flex;
    align-items: center;
}

.header .header-group {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

/* 사이드 */
.layout {
    min-width: 720px;
    min-height: calc(100vh - 64px);
    display: flex;
}

.right-side {
    width: 280px;
    min-width: 200px;
    background-color: blue;
}

.right-side-nav {
    height: 100%;
    padding: 16px 12px;
    box-sizing: border-box;
    font-size: 14px;
}

.right-side-nav .side-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.right-side-nav .side-menu li + li {
    margin-top: 4px;
}

.right-side-nav .side-menu a {
    width: auto;
    padding: 10px;
    border: solid 1px wheat;
    border-radius: 8px;

    display: flex;
    justify-content: center;

    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

.main-content {
    margin: 0;
    min-width: 0;
    flex: 1;
}

.content-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 24px;
    box-sizing: border-box;
}

.left-side {
    width: 280px;
    min-width: 200px;
    background-color: blueviolet;
}