@import "reset.css";

/* 공통 컨테이너 */
.container {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 24px;
}

/* 헤더 */
.header {
    height: 64px;
    border-bottom: 1px solid #d1d1d1;
    background-color: white;
    display: flex;
    align-items: center;
}

.header .header-group {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

/* 사이드 */
.layout {
    min-height: calc(100vh - 64vh);
    padding: 24px 0;
}

.sidebar {
    min-height: 400px;
    background-color: gainsboro;
}

.main-content {
    min-width: 0;
}