@import "reset.css";

.content-container {
    width: 100%;
    max-width: calc(100vw - 540px);
    margin: 0;
    padding: 24px;
    box-sizing: border-box;
}

/* 헤더 */
.header {
    height: 64px;
    border-bottom: 1px solid #d1d1d1;
    background-color: white;
    display: flex;
    align-items: center;
}

.header .header-group {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

/* 사이드 */
.layout {
    min-width: 720px;
    min-height: calc(100vh - 64px);
    padding: 24px 0;
    display: flex;
}

.right-side {
    width: 100%;
    max-width: 270px;
    background-color: blue;
}

.main-content {
    margin: 0;
    min-width: 0;
    flex: 1;
}

.left-side {
    width: 100%;
    max-width: 270px;
    background-color: blueviolet;
}