<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transaction Create</title>
    <link rel="stylesheet" th:href="@{/css/transaction/create.css}">
</head>
<body>
    <th:block layout:fragment="content">
        <form th:action="@{/transaction}" method="post" class="transaction-container">
            <div class="type-box">
                <label for="type">거래 유형
                    <select id="type">
                        <option th:each="type : ${types}"
                                th:value="${type}"
                                th:text="${type}">
                        </option>
                    </select>
                </label>
            </div>

            <div class="detail-box">
                <label for="detail">지출내용
                    <input type="text" name="detail" id="detail">
                </label>
            </div>

            <div class="category-box">
                <label for="category">카테고리
                    <select name="transactionCategory" id="category">
                        <option th:each="category : ${categories}"
                                th:value="${category}"
                                th:text="${category.displayName}"
                                th:attr="data-type=${category.type}">
                        </option>
                    </select>
                </label>
            </div>

            <div class="amount-box">
                <label for="amount">금액
                    <input type="number" name="amount" id="amount">
                </label>
            </div>

            <div class="payment-date-box">
                <label for="payment-date">날짜
                    <input type="date" name="transactionDate" id="payment-date">
                </label>
            </div>

            <button type="submit" class="create-btn">등록</button>
        </form>
    </th:block>
</body>
</html>