.detail-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.detail-header {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 12px;
    background-color: palevioletred;
}

.title-box{
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.summary {
    margin-top: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
}

.left-info {
    display: flex;
    align-items: center;
}

#nickname {
    font-size: 14px;
    font-weight: 600;
    color: aliceblue;
}

#createdAt {
    margin-left: 8px;
    font-size: 12px;
    color: aliceblue;
}

.right-info {
    position: relative;
}

.more-btn {
    padding: 4px;
    background-color: none;
    border: none;
    font-size: 18px;
    line-height: 1;
}

.dropdown {
    top: 100%;
    right: 0;
    margin-top: 4px;
    padding: 4px 0;
    min-width: 120px;

    background: #ffffff;
    position: absolute;
    border: solid 1px darkolivegreen;
    border-radius: 4px;
    z-index: 1000;

    display: none;
}

/* dropdown 열었을 때 */
.dropdown.open {
    display: block;
}

.dropdown a,
.dropdown button {
    width: 100%;
    padding: 8px 10px;

    display: block;
    border: none;
    box-sizing: border-box;

    font-size: 12px;
    text-align: left;
    background: none;
}

/* 본문 */
.content-container {
    margin-top: 20px;
}

.content-detail {
    line-height: 1.6;
}
