body {
    padding: 0;
    height: 100%;
}

#board-register-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: solid 1px salmon;
    border-radius: 20px;
}

/* 제목, 내용 간격*/
.title-container {
    margin-bottom: 20px;
}
.contents-container {
    margin-bottom: 20px;
}

#input-title{
    width: 630px;
    height: 40px;
    padding: 8px 10px;
    border: solid 1px gainsboro;
    border-radius: 4px;
    font-size: 18px;
    outline: none;
}

.input-contents {
    width: 630px;
    height: 650px;
    padding: 8px 10px;
    border: solid 1px gainsboro;
    border-radius: 4px;
    font-size: 12px;
    resize: none;
}

.button-container {
    text-align: center;
}

.button {
    padding: 8px 16px;
    background-color: khaki;
    border-radius: 4px;
    font-size: 14px;
}