.board-update-container {
    max-width: 800px;
    margin: 20px auto;
}

.title-container {
    margin-bottom: 20px;
}
.contents-container {
    margin-bottom: 20px;
}

#title{
    width: 100%;
    max-width: 750px;
    height: 40px;
    margin: 0 auto;
    padding: 8px 10px;
    display: block;
    border: solid 1px gainsboro;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    outline: none;
}

.contents {
    width: 100%;
    max-width: 750px;
    height: 500px;
    margin: 0 auto;
    padding: 8px 10px;
    display: block;
    border: solid 1px gainsboro;
    border-radius: 4px;
    font-size: 12px;
    resize: none;
}

.button-container {
    text-align: center;
}

.button {
    padding: 8px 16px;
    background-color: khaki;
    border-radius: 4px;
    font-size: 14px;
}