.login-container {
    width: 400px;
    margin: 120px auto;
    padding: 40px;
}

.login-container input {
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
    padding: 0 16px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    height: 56px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.join-link {
    margin-top: 16px;
    text-align: center;
}


.login-links a {
    font-size: 14px;
    color: steelblue;
    text-decoration: none;
}